.form-container {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 20px;
    margin: 10px auto 0;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-title {
    text-align: center;
  }
  
  .my-form {
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  
  .my-form .form-group {
    margin-bottom: 20px;
  }
  
  .my-form .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .my-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  #message{
    padding:50px;
  }
  
  .my-form .form-control:focus {
    outline: none;
    border-color: #6c757d;
  }
  
  .my-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .my-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  